<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            GContG
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <h1>GContG: Gerencie seus Gastos com nosso App!</h1>

    <p style="text-align: center;">O GContG é um aplicativo que ajuda você a gerenciar seus gastos, armazenar recibos e criar orçamentos com base em sua renda e despesas mensais. Ele também lhe fornece gráficos, alertas e relatórios para ajudá-lo a acompanhar suas finanças. Com o GContG,
        você pode verificar todos os seus gastos em um lugar, definir metas de economia e monitorar seu progresso de forma fácil e intuitiva.
    </p>

</ion-content>